.home-container {
  background-image: url("https://cdn.discordapp.com/attachments/1100694773343473745/1122750313917591683/backpic.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
